#include "windows.h"
#include "resource.h"

//DDPLogo BITMAP "ddp.bmp"

//IDD_RAWSINK_CFG DIALOG DISCARDABLE  0, 0, 243, 45
//STYLE DS_CONTROL | WS_CHILD
//FONT 8, "MS Shell Dlg"
//BEGIN
//    CONTROL "DDP is only compatible with ", -1, "STATIC", WS_CHILD | WS_VISIBLE, 0, 0, 126, 15
//    CONTROL "44100Hz, 16-bit, stereo audio.", -1, "STATIC", WS_CHILD | WS_VISIBLE, 0, 15, 126, 15
//    CONTROL "?", IDC_HELP_BUTTON, "BUTTON", WS_CHILD | WS_VISIBLE, 0, 30, 20, 15
//    CONTROL "DDPLogo", -1, "STATIC", SS_BITMAP | WS_CHILD | WS_VISIBLE, 126, 0, 240, 75
//END
//
//
//IDD_HELPDIALOG DIALOG DISCARDABLE  20, 40, 400, 250
//STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
//CAPTION "Help"
//FONT 8, "MS Shell Dlg"
//BEGIN
//	CONTROL "",       IDC_HELP_TEXT, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 5, 390, 220
//	CONTROL "&Close", IDCANCEL, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 295, 230, 100, 18
//END


IDD_EDITMARKERS DIALOG DISCARDABLE  20, 40, 400, 250
EXSTYLE WS_EX_TOOLWINDOW
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_THICKFRAME
CAPTION "CD markers list (for DDP export)"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "&Correct markers", IDC_CORRECT_MARKERS, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 1, 1
	CONTROL "&Close", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 1, 1
END



IDD_CORRECTMARKERS DIALOG DISCARDABLE  20, 40, 400, 250
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Marker corrections"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "",       IDC_MARKER_CORRECTIONS_TEXT, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 5, 390, 220
	CONTROL "&Close", IDCANCEL, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 295, 230, 100, 18
END



IDD_EDITALBUMMARKER DIALOG DISCARDABLE  20, 40, 260, 200
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Edit album marker"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",                -1, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 5, 2, 251, 176
    CONTROL "Time (M:S:F):",	-1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 10, 49, 8
	CONTROL "",                200, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 8, 15, 12
	CONTROL ":",               -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 75, 10, 4, 8
	CONTROL "",                201, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 8, 15, 12
	CONTROL ":",               -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 95, 10, 4, 8
	CONTROL "",                202, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 8, 15, 12
	CONTROL "Title:",          -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 25, 49, 8
	CONTROL "",                100, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 23, 191, 12
	CONTROL "Performer:",      -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 40, 49, 8
	CONTROL "",                101, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 38, 191, 12
	CONTROL "Songwriter:",     -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 55, 49, 8
	CONTROL "",                102, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 53, 191, 12
	CONTROL "Composer:",       -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 70, 49, 8
	CONTROL "",                103, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 68, 191, 12
	CONTROL "Arranger:",       -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 85, 49, 8
	CONTROL "",                104, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 83, 191, 12
	CONTROL "Message:",        -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 100, 49, 8
	CONTROL "",                105, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 98, 191, 12
	CONTROL "Identification:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 115, 49, 8
	CONTROL "",                106, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 113, 191, 12
	CONTROL "Genre:",          -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 130, 40, 8
	CONTROL "",                107, "COMBOBOX", CBS_DROPDOWN | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_SORT, 60, 128, 191, 250
	CONTROL "Language:",       -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 145, 40, 8
	CONTROL "",                120, "COMBOBOX", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_SORT, 60, 143, 191, 250
	CONTROL "UPC/EAN:",        -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 160, 40, 8
	CONTROL "",                121, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 158, 100, 12
	CONTROL "&Ok",             IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 180, 55, 16
	CONTROL "&Cancel",         IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 180, 55, 16
END



IDD_EDITINDEX1MARKER DIALOG DISCARDABLE  20, 40, 260, 155
STYLE DS_MODALFRAME | DS_3DLOOK | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Edit INDEX1 marker"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",            -1, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 5, 2, 251, 127
    CONTROL "Time (M:S:F):",-1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 10, 49, 8
	CONTROL "",            200, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 8, 15, 12
	CONTROL ":",           -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 75, 10, 4, 8
	CONTROL "",            201, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 8, 15, 12
	CONTROL ":",           -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 95, 10, 4, 8
	CONTROL "",            202, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 8, 15, 12
	CONTROL "Title:",      -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 25, 49, 8
	CONTROL "",            100, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 23, 191, 12
	CONTROL "Performer:",  -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 40, 49, 8
	CONTROL "",            101, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 38, 191, 12
	CONTROL "Songwriter:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 55, 49, 8
	CONTROL "",            102, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 53, 191, 12
	CONTROL "Composer:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 70, 49, 8
	CONTROL "",            103, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 68, 191, 12
	CONTROL "Arranger:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 85, 49, 8
	CONTROL "",            104, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 83, 191, 12
	CONTROL "Message:",    -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 100, 49, 8
	CONTROL "",            105, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 98, 191, 12
	CONTROL "ISRC:",       -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 115, 40, 8
	CONTROL "",            122, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 113, 100, 12
	CONTROL "&Ok",         IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 135, 55, 16
	CONTROL "&Cancel",     IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 135, 55, 16
END



IDD_EDITINDEX0MARKER DIALOG DISCARDABLE  20, 40, 125, 50
STYLE DS_MODALFRAME | DS_3DLOOK | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Edit INDEX0 marker"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "",        -1, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 5, 2, 115, 23
    CONTROL "Time (M:S:F):",-1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 10, 49, 8
	CONTROL "",        200, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 8, 15, 12
	CONTROL ":",       -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 75, 10, 4, 8
	CONTROL "",        201, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 8, 15, 12
	CONTROL ":",       -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 95, 10, 4, 8
	CONTROL "",        202, "EDIT", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 8, 15, 12
	CONTROL "&Ok",     IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 30, 55, 16
	CONTROL "&Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 30, 55, 16
END



IDM_EDITMARKERSMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Edit marker..."	IDC_EDIT_MARKER
		MENUITEM "Delete marker"	IDC_DELETE_MARKER
		MENUITEM SEPARATOR
		MENUITEM "Insert INDEX0 marker..."	IDC_INSERT_INDEX0_MARKER
		MENUITEM "Insert INDEX1 marker..."	IDC_INSERT_INDEX1_MARKER
		MENUITEM "Insert album marker..."	IDC_INSERT_ALBUM_MARKER
	END
END
